{% extends "::layout.html.twig" %}

{% block body %}
	<h2> Page index proprietaires</h2>
	
	<div class="col-md-12">
		<button href="{{path('Exia_Lps_creation_creer_fiche_client_proprietaire')}} "> Nouvelle Fiche </button>
	</div>

	<div class="col-md-12">
		Listes des clients propriétaires :
	</div>
{% endblock %}